.container {
    display: flex;
    flex-direction: column;
    background-color: cadetblue;
    width: 100%;
    height: auto;
    margin: 0px;
    justify-content: center;
    align-items: center;
}
#back {
    font: 20px;
    background-color: green;
    color: white;
    border: 2px solid black;
    align-self: flex-end;
    padding: 5px;
    margin: 2%;
}

.heading {
    font-size: 20px;
    background-color: floralwhite;
    color: darkviolet;
    height: fit-content;
    width: fit-content;
    padding: 10px;
    border: 3px solid black;
    margin: 20px;
}
.viewer {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: space-between;
    justify-content: space-around;
    align-items: center;
    background-color: cornsilk;
    width: 70%;
    height: 70%;
    padding: 2%;
}

.responsive {
  max-width: 90%;
  height: auto;
  border: 3px dotted black;
  margin: 3%;
}

.single {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 90%;
    background-color: rgb(247, 245, 136);
    align-items: center;
    margin: 2%;
    border: 2px solid black;
}
.description {
    width: 97%;
    overflow: auto;
    justify-content: start;
    background-color:beige;
    border: 2px dashed black;
    padding: 10px;
}

.approved {
    display: flex;
    background-color:rgb(20, 233, 222);
    justify-content: center;
    width: 90%;
    padding: 10px;
}

.napproved {
    display: flex;
    background-color:rgb(20, 233, 20);
    justify-content: center;
    width: 90%;
    padding: 10px;
}
